syntax: glob
# generic
*.pyc
*.swp
*.swo
.DS_Store
*.egg-info/
sandbox/*
dist

# other
pip-requirements-local.txt
migrate/*
build/*
tmp/*
solr_runtime/*
fl_notes.txt
*.ini
.noseids
*~
.coverage
cover/
