{% ckan_extends %}

{% block basic_fields_url %}

    <div {% if h.cloudstorage_use_secure_urls() -%}
    data-module="cloudstorage-multipart-upload" data-module-cloud='S3' data-module-package-id={{ pkg_name }}
    {%- endif %}>
        {{ super() }}

        <div class="hide controls progress progress-striped active">
            <div class="bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>

    </div>
{% endblock %}

{% block metadata_fields %}
    {{ super() }}
{% endblock %}
